.align-items-center {
  align-items: center;
  height: 100vh;
}

.card-img-loading {
  align-items: center;
  /* display: flex; */
  padding: 0px 20px;
  padding-top: 23vh;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

#file-select {
  display: none;
}
